@use '../utils/functions' as * ;
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
html{
    scroll-behavior: smooth;
}
.layout-position{
    display: flex;
    max-width: em(2560);
    margin:0 auto;
}
.grid-container{
    display: grid;
    max-width: em(2560);
    width: 100%;
    margin: 0 auto;
}