@use '../utils/functions'as *;
@use '../abstracts/variables' as *;
@use 'font-face'as *;
@use 'base-dir' as *;

.services__list{
font-size: clamp(rem(16.5), 2vw, rem(20)); 
}

.video-section__tittle{
     font-size: clamp(em(32), 5vw, em(64));
}
.video-section__text{
    font-size: clamp(em(16), 2.3vw, em(24));
    text-align: start;
}
.video-section__text--more{
    font-size: clamp(rem(10), 1.2vw, rem(16));
}
.services__list{
    text-transform: uppercase;
}
.steps__subtitle,.reviews__block-comment>span{
    font-size: clamp(rem(16), 2.4vw, rem(20));
    font-weight: $poppins-400;
}
.reviews__block-comment>p{
    font-style:italic;
    text-align: start;
    padding: rem(16) 0;
}

.reviews__person{
    font-size: clamp(rem(13), 1.8vw, rem(16));
}

.contact__form-label,.contact__form-btn{
    font-size: clamp(rem(13), 1.8vw, rem(16));
    font-weight: $poppins-400;
}
