@use '../abstracts/variables' as *;
@use '../abstracts/media' as *;
@use '../utils/' as *;

//this mixin ''show-more-btn'' is style for few buttons.
//another buttons style his in the _buttons.scss
@mixin show-more-btn {
    color: $color-black;
    font-size: clamp(0.655rem, 0.8vw, 0.9rem);
    padding: rem(8);
    transition: color .3s ease-in-out;
    &::after,&::before{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border: 1px solid $bgc-aquamarine;
    }
    &:hover {
        color: $bgc-aquamarine;
    }
    &::before,&::after{
        transition: transform .3s ease-in-out;
    }
    &:hover::before{
        transform: translate(-3%,-10%);
    }
    &:hover::after{
    transform: translate(3%, 10%);
}
}

.title-heading{
    position: relative;
    text-align: center;
    // width: clamp(9rem, 18vw, 20rem);
    width: fit-content;
    margin: rem(16) auto;
    padding: rem(16);
    &::before{
        content: attr(data-text);
        position: absolute;
        left: -20%;
        top: rem(16);
        background-color:$bgc-aquamarine;
        color: transparent;
        height: rem(18);
        z-index: -1;
        @include breakpoint-min(lg){
        height: rem(25);
        }
    }
}

.why-us{
    &__title::before{
        left: 1.5%;
        top: rem(10);
        color: transparent;
        width: clamp(em(144),30vw,em(216));
        z-index: -1;
        @include breakpoint-min(md){
        left: -4%;
        }
        @include breakpoint-min(lg){
        height: rem(25);
        }
    }
}

    @keyframes logo-JDPROFF {
        0%, 100%{
            transform: translate3d(0);
        }
       50%{
           transform: translate3d(0,-80px,0);
       }

    }

@mixin fades {
    .fade{
    opacity: 1;
    }
    .fade-right{
        opacity: 1;
        transform: translate3d(0%,0,0);
    }
    .fade-left{
        opacity: 1;
        transform: translate3d(0%,0,0);
    }
    .fade-bottom{
        opacity: 1;
        transform: translate3d(0,-25%,0);
    }
}

@mixin transform3d-X-for-left{
transform: translate3d(-300px, 0px, 0px);
}

@mixin grid-row-2{
    grid-row:2;
}
@mixin grid-row-1{
    grid-row:1;
}
@mixin grid-column-1{
    grid-column:1;
}
@mixin grid-column-1-2{
    grid-column: 1/span 2;
}


.svg-icon{
    max-width: 100%;
    max-height: 100%;
&>path {
    stroke-width: 8;
    stroke:black;
}
}
