@use '../abstracts/variables' as *;
@use '../abstracts/media' as *;
@use '../utils/' as *;

@mixin show-more-btn {
    border: 1px solid $bgc-aquamarine;
    
}

.title-heading{
    position: relative;
    text-align: center;
    // width: clamp(9rem, 18vw, 20rem);
    width: fit-content;
    margin: 0 auto;
    padding: rem(16);
    &::before{
        content: attr(data-text);
        position: absolute;
        left: -20%;
        top: rem(16);
        background-color:$bgc-aquamarine;
        color: transparent;
        height: rem(18);
        z-index: -1;
        @include breakpoint-min(lg){
        height: rem(25);
        }
    }
}

.why-us{
    &__title::before{
        left: 1.5%;
        top: rem(10);
        color: transparent;
        width: clamp(em(144),30vw,em(216));
        z-index: -1;
        @include breakpoint-min(md){
        left: -4%;
        }
        @include breakpoint-min(lg){
        height: rem(25);
        }
    }
}



    @keyframes logo-JDPROFF {
        0%, 100%{
            transform: translateY(0);
        }
       50%{
           transform: translateY(-80px);
       }

    }

