@use '../utils/functions' as *;
@use '../abstracts/media' as *;
:root{
--width-container:clamp(75em, 100vw, 130em);;
--elements-displayed:2;
// --all-elements: 14;
--elements-width: calc(var(--width-container) / var(--elements-displayed));
--animation-duration: calc(var(--all-elements) * 4s);

@include breakpoint-min(md){
    --elements-displayed: 2.5;
}

@include breakpoint-min(lg){
    --elements-displayed: 3;
}
@include breakpoint-min(xxl){
    --elements-displayed: 4;
}

}
//font-weight
$poppins-200: 200;
$poppins-300: 300;
$poppins-400: 400;
$poppins-500: 500;
$poppins-700: 700;

//backgrounds
$bgc-aquamarine:#009581;
$bgc-dark:#004759;
$bgc-button:#004759;
$bgc-footer:#252525;
$bgc-shadow:#00475966;
$bgc-light-grey:#f3f3f3;
$bgc-white:#ffff;
$summer-offert:#e6fffb;
$bgc-blackblue-transparent: #0047599c;
//colors
$color-white:#f5f5f5;
$color-crab-nebula:#004759;
$color-black:#252525;
$color-channel-marker-green:#05d1b6;
$color-fake-jade:#cbf5ef;

//line-stroke-svg
$color-stroke-svg:#047276;
$color-black-stroke:#252525;

//another animations
$border:#04af9827;
$border-line-bottom:#dbdbdb;
$color-grey:#dbdbdb;
$color-second-grey:#b9b9b9;
$color-sea-glass:#72d7c9;
$color-pale-kings-blue:#51a79b;

$sm-facebook:#1877F2;
$sm-email:#2b2b2b;
$sm-instagram:#E4405F;

$sm-facebook-bg:#c6defd7c;
$sm-instagram-bg:#fca6b67e;
$sm-email-bg:#c2c0c07e;
$box-shadow-property: 0px 5px 10px $bgc-button;
$box-shadow-property-footer: none;
$box-shadow-summer-offert: 5px 5px 10px #12121226;
$scale-property: scale(1.1);

$width-heading:clamp(em(240),60vw,em(700));
$transform-property:translate3d(0,-75%,0);

$widthSummerOffert:clamp(em(200), 70vw,em(650));
$width:em(35);
$translate3dContainer:translate3d(-100%,0,0);
$positionBtn:translate3d(rem(32),0,0);

$linear-gradient-subMenu:linear-gradient(340deg, #09c6ac, #3dc3b0, #72d7c9, #acf3e9, #cbf5ef, #fbfbfb, #f8f8f8, #f8f9fa, #fafafb, #fcfcfd, #fdfdfe, #ffffff);



$border-position: rem(-35);
$border-triangle:rem(14);
$scale: scale(1.05);
$scale-transform:transform .2s cubic-bezier(0.39, 0.575, 0.565, 1);
$padding:rem(0) rem(24);
$clip-path:polygon(0% 0%, 100% 0, 100% 35%, 100% 90%, 65% 90%, 55% 100%, 0 100%, 0% 70%, 0% 35%, 0 0);
