//colors
$bgc-header:#f5f5f5;
$bgc-box:#009581;
$bgc-dark:#004759;
$bgc-button:#004759;
$bgc-footer:#252525;
$bgc-shadow:#00475966;
$color-hover-social:#09e6c9;
$border-hover:#004759;
$color-hover-btn: #f5f5f5;


