*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  min-height: 200vh;
  max-width: 87.5em;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-family: "Roboto", "sans-serif";
}

p,
a,
li,
span,
label,
input {
  font-family: "sans-serif", "Archivo-Black";
}

a {
  font-size: 1rem;
  font-weight: bold;
}

.header__item--margin {
  font-size: 0.75rem;
}

.item--border::after, .item--border::before {
  content: "";
  display: block;
  position: relative;
  padding: 0.75rem;
  width: 100%;
  left: 0;
  border: 0.125rem solid #004759;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  z-index: -1;
}

.item--border::before {
  top: 1.625rem;
}

.item--border::after {
  bottom: 1.5625rem;
}

.item--border::after {
  border: 0.125rem solid #09e6c9;
  -webkit-transform: translate(0.15625rem, 0.15625rem);
          transform: translate(0.15625rem, 0.15625rem);
}

.item--border::before {
  border: 0.125rem solid #09e6c9;
  -webkit-transform: translate(-0.15625rem, -0.15625rem);
          transform: translate(-0.15625rem, -0.15625rem);
}

.item--border:hover::after {
  border: 0.125rem solid #009581;
  -webkit-transform: translate(0rem, 0rem);
          transform: translate(0rem, 0rem);
}

.item--border:hover::before {
  border: 0.125rem solid #009581;
  -webkit-transform: translate(0rem, 0rem);
          transform: translate(0rem, 0rem);
}

.hamburger {
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 20;
}
@media (min-width: 48em) {
  .hamburger {
    display: none;
  }
}
.hamburger__btn {
  width: 3.125rem;
  height: 3.125rem;
  cursor: pointer;
}
.hamburger__line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  pointer-events: all;
  -webkit-transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hamburger__line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.hamburger__line1.opened {
  stroke: #047276;
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.hamburger__line2 {
  stroke-dasharray: 50 60;
  stroke-width: 6;
}
.hamburger__line2.opened {
  stroke: #047276;
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.hamburger__line3 {
  stroke-dasharray: 40 207;
  stroke-width: 6;
}
.hamburger__line3.opened {
  stroke: #047276;
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
  background-color: #f5f5f5;
  -webkit-box-shadow: 0 3px 20px rgba(0, 71, 89, 0.4);
          box-shadow: 0 3px 20px rgba(0, 71, 89, 0.4);
}
@media (min-width: 48em) {
  .header {
    max-height: 8vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.header__title {
  font-size: 2.5rem;
  width: clamp(5em, 5vw, 15em);
}
@media (max-width: 48em) {
  .header__title {
    display: none;
  }
}
.header__navigation {
  width: 100%;
  max-width: 87.5em;
}
.header__img {
  height: 3.125rem;
  width: 3.125rem;
}
@media (min-width: 48em) {
  .header__img {
    display: none;
  }
}
.header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}
@media (min-width: 48em) {
  .header__items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 100%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.header__items.open {
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.header__list {
  padding: 0.625rem 0.625rem;
  margin: 0.625rem 0.9375rem;
  text-align: center;
  cursor: pointer;
}
.header__list:nth-child(5) {
  border: 0.0625rem solid #004759;
  border-radius: 0.5rem;
  -webkit-transition: border-radius 0.2s ease-in-out;
  transition: border-radius 0.2s ease-in-out;
}
.header__list:nth-child(5):hover {
  border-radius: 1.25rem;
}
.header__item {
  margin: 0.5rem;
  padding: 0.5rem;
  color: #004759;
  text-transform: uppercase;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.header__item--arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.header__item--margin {
  margin-left: 0;
  padding-left: 0.3125rem;
}
.header__list:hover > .header__item {
  color: #05d1b6;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: static;
  margin-left: 5rem;
  padding: 0.3125rem 0.625rem;
  background-color: #f5f5f5;
  -webkit-box-shadow: -2px 2px 0px rgba(4, 175, 152, 0.8);
          box-shadow: -2px 2px 0px rgba(4, 175, 152, 0.8);
  border-radius: 0 0 0.625rem 0.625rem;
  cursor: pointer;
}
@media (min-width: 48em) {
  .header__dropdown {
    position: absolute;
    margin-left: auto;
  }
}
.header__dp_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  border-bottom: 1px solid rgba(4, 175, 152, 0.1529411765);
}
.header__dp_item:nth-last-child(1) {
  border: none;
}
.header__dp_item:hover > .header__item {
  color: #05d1b6;
}

.main__video {
  height: 100vh;
  width: clamp(18.75em, 80vw, 87.5em);
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=style.css.map */