*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.grid-container {
  display: grid;
  place-items: center;
  justify-items: stretch;
  margin: 0 auto;
  max-width: 160em;
}

:root {
  --width-container:clamp(75em, 100vw, 130em);
  --elements-displayed:2;
  --elements-width: calc(var(--width-container) / var(--elements-displayed));
  --animation-duration: calc(var(--all-elements) * 4s);
}
@media (min-width: 48em) {
  :root {
    --elements-displayed: 2.5;
  }
}
@media (min-width: 62em) {
  :root {
    --elements-displayed: 3;
  }
}
@media (min-width: 87.5em) {
  :root {
    --elements-displayed: 4;
  }
}

h1,
h2,
h3,
p,
a,
li,
span,
label,
input {
  font-family: "Poppins", sans-serif;
}

h2 {
  font-size: clamp(1.5rem, 3vw, 1.875rem);
  font-weight: 500;
}

h3 {
  font-size: clamp(1.1875rem, 2.4vw, 1.5rem);
  font-weight: 500;
}

p,
a,
li,
span,
label,
input {
  font-weight: 200;
}

p {
  font-size: clamp(1.03125rem, 2vw, 1.3125rem);
  padding: 1rem;
  text-align: center;
}

a {
  font-size: clamp(0.8125rem, 1.3vw, 1.125rem);
  font-weight: 500;
  text-transform: uppercase;
}

.header__title > a {
  font-weight: 700;
  font-size: clamp(1.125rem, 3.5vw, 2.375rem);
}

.fa-arrow-down {
  font-size: 0.9375rem;
}

.video-section__tittle {
  font-size: clamp(2em, 5vw, 4em);
}

.video-section__text {
  font-size: clamp(1em, 2.3vw, 1.5em);
  text-align: start;
}

.video-section__text--more {
  font-size: clamp(0.625rem, 1.2vw, 1rem);
}

.services__list {
  font-size: clamp(1rem, 2.1vw, 1.25rem);
  text-transform: uppercase;
}

.steps__subtitle {
  font-size: clamp(1rem, 2.4vw, 1.25rem);
  font-weight: 400;
}

.title-heading {
  position: relative;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 1rem auto;
  padding: 1rem;
}
.title-heading::before {
  content: attr(data-text);
  position: absolute;
  left: -20%;
  top: 1rem;
  background-color: #009581;
  color: transparent;
  height: 1.125rem;
  z-index: -1;
}
@media (min-width: 62em) {
  .title-heading::before {
    height: 1.5625rem;
  }
}

.why-us__title::before {
  left: 1.5%;
  top: 0.625rem;
  color: transparent;
  width: clamp(9em, 30vw, 13.5em);
  z-index: -1;
}
@media (min-width: 48em) {
  .why-us__title::before {
    left: -4%;
  }
}
@media (min-width: 62em) {
  .why-us__title::before {
    height: 1.5625rem;
  }
}

@-webkit-keyframes logo-JDPROFF {
  0%, 100% {
    -webkit-transform: translate3d(0);
            transform: translate3d(0);
  }
  50% {
    -webkit-transform: translate3d(0, -80px, 0);
            transform: translate3d(0, -80px, 0);
  }
}

@keyframes logo-JDPROFF {
  0%, 100% {
    -webkit-transform: translate3d(0);
            transform: translate3d(0);
  }
  50% {
    -webkit-transform: translate3d(0, -80px, 0);
            transform: translate3d(0, -80px, 0);
  }
}
.svg-icon {
  max-width: 100%;
  max-height: 100%;
}
.svg-icon > path {
  stroke-width: 8;
  stroke: black;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #f5f5f5;
  -webkit-box-shadow: 0 3px 20px rgba(0, 71, 89, 0.4);
          box-shadow: 0 3px 20px rgba(0, 71, 89, 0.4);
  border-bottom: 1px solid #dbdbdb;
  z-index: 99;
}
@media (min-width: 48em) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (min-width: 62em) {
  .header {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.header__blurBg {
  position: fixed;
  background-color: hsla(0deg, 0%, 7%, 0.36);
  height: 100%;
  width: 100%;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  z-index: 1;
}
.header__blurBg.--open {
  opacity: 1;
  visibility: inherit;
}
@media (min-width: 48em) {
  .header__blurBg {
    display: none;
  }
}
.header__arrow {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-left: 0.3125rem;
}
@media (min-width: 48em) {
  .header__arrow {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
.header__title {
  white-space: nowrap;
  cursor: pointer;
}
.header__title > a {
  color: #004759;
}
@media (max-width: 48em) {
  .header__title {
    display: none;
  }
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.625rem;
}
.header__img {
  width: 4.0625em;
}
@media (min-width: 48em) {
  .header__img {
    display: none;
  }
}
.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  max-width: 160em;
  padding: 0rem 1.5rem;
}
@media (min-width: 62em) {
  .header__navigation {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
  position: absolute;
  inset: 4.875rem 0 0 0;
  background-color: #f5f5f5;
  height: 100vh;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}
@media (min-width: 48em) {
  .header__items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    inset: 0 0 0 0;
    position: static;
    height: auto;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@media (min-width: 48em) and (max-width: 62em), (orientation: landscape) {
  .header__items {
    gap: 0;
  }
}
.header__items.open {
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.header__list {
  padding: 0.625rem 0.625rem;
  margin: 0.625rem 0.9375rem;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
}
.header__list:nth-child(5) {
  border: 0.0625rem solid #004759;
  border-radius: 0.5rem;
  -webkit-transition: border-radius 0.2s ease-in-out;
  transition: border-radius 0.2s ease-in-out;
}
.header__list:nth-child(5):hover {
  border-radius: 1.25rem;
}
@media (orientation: landscape) {
  .header__list {
    padding: 0.3125rem 0.625rem;
  }
}
.header__item {
  padding: 0.5rem;
  color: #004759;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.header__item--arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.header__list:hover > .header__item {
  color: #05d1b6;
}
.header__dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: clamp(11.25rem, 55%, 15rem);
  padding: 0.3125rem 0.625rem;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  background-color: #f5f5f5;
  visibility: hidden;
  -webkit-transition: visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  z-index: 5;
}
.header__dropdown--closed {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 1.5rem;
  padding: 0.5rem;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.header__dropdown--closed svg {
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  height: 100%;
  width: 100%;
}
.header__dropdown--closed:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.header__dropdown--closed:hover > svg {
  color: #047276;
}
.header__dropdown--closed svg > path {
  -webkit-transform: translateX(15%);
          transform: translateX(15%);
}
.header__dropdown.--Mobile {
  gap: 1.375rem;
  padding-left: 0.3125rem;
  background-image: linear-gradient(340deg, #09c6ac, #3dc3b0, #72d7c9, #acf3e9, #cbf5ef, #fbfbfb, #f8f8f8, #f8f9fa, #fafafb, #fcfcfd, #fdfdfe, #ffffff);
  -webkit-transform: translateX(0);
          transform: translateX(0);
  visibility: inherit;
  inset: 0.02px;
}
@media (orientation: landscape) {
  .header__dropdown.--Mobile {
    gap: 0.625rem;
  }
}
@media (min-width: 48em) {
  .header__dropdown {
    top: 100%;
    left: auto;
    height: auto;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-box-shadow: 0px 2px 0px #72d7c9;
            box-shadow: 0px 2px 0px #72d7c9;
    border-radius: 0 0 0.625rem 0.625rem;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
  .header__list--dropdown:hover > .header__dropdown {
    opacity: 1;
    visibility: visible;
  }
  .header__dropdown--closed {
    display: none;
  }
}
.header__dp_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  border-bottom: 1px solid rgba(4, 175, 152, 0.1529411765);
}
.header__dp_item:nth-last-child(1) {
  border: none;
}
.header__dp_item:hover > .header__item {
  color: #05d1b6;
}

.btn {
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 20;
}
@media (min-width: 48em) {
  .btn {
    display: none;
  }
}
.btn__hamburger {
  width: 2.8125rem;
  height: 2.8125rem;
  cursor: pointer;
}
.btn__line {
  fill: none;
  stroke: #252525;
  stroke-width: 6;
  pointer-events: all;
  -webkit-transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn__line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.btn__line1.opened {
  stroke: #047276;
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.btn__line2 {
  stroke-dasharray: 50 60;
  stroke-width: 6;
}
.btn__line2.opened {
  stroke: #047276;
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.btn__line3 {
  stroke-dasharray: 40 207;
  stroke-width: 6;
}
.btn__line3.opened {
  stroke: #047276;
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.video-section__more {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: clamp(8.2rem, 15vw, 12rem);
  border-radius: 1.375rem;
  background-color: #cbf5ef;
  -webkit-transition: background 0.6s cubic-bezier(0.65, 0, 0.076, 1);
  transition: background 0.6s cubic-bezier(0.65, 0, 0.076, 1);
  cursor: pointer;
}
.video-section__more:hover {
  background: transparent;
}
.video-section__more:hover .video-section__circle {
  width: 100%;
}
.video-section__more:hover .video-section__text--more {
  color: #f5f5f5;
  -webkit-transform: translateX(0.75rem);
          transform: translateX(0.75rem);
}
.video-section__more:hover .video-section__arrow {
  -webkit-transform: translate(0.75rem, 0);
          transform: translate(0.75rem, 0);
}
.video-section__more:hover .video-section__arrow::after {
  background-color: #f5f5f5;
}
.video-section__circle {
  position: relative;
  display: block;
  width: 1.5625em;
  height: 1.5625rem;
  border-radius: 1.375rem;
  background-color: #004759;
  -webkit-transition: width 0.4s cubic-bezier(0.65, 0, 0.076, 1);
  transition: width 0.4s cubic-bezier(0.65, 0, 0.076, 1);
  z-index: 5;
}
@media (min-width: 62em) {
  .video-section__circle {
    width: 1.75em;
    height: 1.75em;
  }
}
.video-section__arrow {
  position: absolute;
  display: block;
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.65, 0, 0.076, 1);
  transition: -webkit-transform 0.4s cubic-bezier(0.65, 0, 0.076, 1);
  transition: transform 0.4s cubic-bezier(0.65, 0, 0.076, 1);
  transition: transform 0.4s cubic-bezier(0.65, 0, 0.076, 1), -webkit-transform 0.4s cubic-bezier(0.65, 0, 0.076, 1);
}
.video-section__arrow::before {
  position: absolute;
  content: "";
  top: 0.55rem;
  right: 0.725rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #f5f5f5;
  border-right: 0.125rem solid #f5f5f5;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.video-section__arrow::after {
  position: absolute;
  content: "";
  left: -0.55rem;
  top: 0.8rem;
  width: 0.84rem;
  height: 0.125rem;
  background: none;
  -webkit-transition: background-color 0.4s cubic-bezier(0.65, 0, 0.076, 1);
  transition: background-color 0.4s cubic-bezier(0.65, 0, 0.076, 1);
}
.video-section__box-text {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.video-section__text--more {
  z-index: 10;
  color: #004759;
  text-shadow: none;
  -webkit-transition: color 0.4s cubic-bezier(0.65, 0, 0.076, 1), -webkit-transform 0.4s cubic-bezier(0.65, 0, 0.076, 1);
  transition: color 0.4s cubic-bezier(0.65, 0, 0.076, 1), -webkit-transform 0.4s cubic-bezier(0.65, 0, 0.076, 1);
  transition: color 0.4s cubic-bezier(0.65, 0, 0.076, 1), transform 0.4s cubic-bezier(0.65, 0, 0.076, 1);
  transition: color 0.4s cubic-bezier(0.65, 0, 0.076, 1), transform 0.4s cubic-bezier(0.65, 0, 0.076, 1), -webkit-transform 0.4s cubic-bezier(0.65, 0, 0.076, 1);
}

.video-section {
  position: relative;
  color: #f5f5f5;
  text-shadow: 0px 2px 10px rgb(0, 71, 89);
  -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 35%, 100% 90%, 65% 90%, 55% 100%, 0 100%, 0% 70%, 0% 35%, 0 0);
          clip-path: polygon(0% 0%, 100% 0, 100% 35%, 100% 90%, 65% 90%, 55% 100%, 0 100%, 0% 70%, 0% 35%, 0 0);
}
.video-section__box {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100vh;
}
.video-section__heading {
  position: absolute;
  inset: 50% 0 0 0;
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
  max-width: 60vw;
  line-height: 1.2;
}
@media (min-width: 48em) {
  .video-section__heading {
    padding: 0rem 1.5rem;
  }
}
@media (max-width: 62em) {
  .video-section__heading {
    inset: 50% 0 0 5%;
  }
}
.video-section__text {
  padding: 1rem 0;
}
.video-section__sm {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
}
.video-section__icon > a > svg {
  width: clamp(1.375rem, 2vw, 1.75rem);
  min-height: 1.375rem;
  max-height: 1.75rem;
  padding: 0.25rem;
  fill: #f5f5f5;
  border-radius: 0.625rem;
  cursor: pointer;
  -webkit-transition: fill 0.2s ease-in-out, background-color 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: fill 0.2s ease-in-out, background-color 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: fill 0.2s ease-in-out, box-shadow 0.2s ease-in-out, transform 0.3s ease-in-out, background-color 0.2s ease-in-out;
  transition: fill 0.2s ease-in-out, box-shadow 0.2s ease-in-out, transform 0.3s ease-in-out, background-color 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.video-section__icon--fb:hover {
  fill: #1877F2;
  -webkit-box-shadow: 0px 5px 10px rgb(0, 71, 89);
          box-shadow: 0px 5px 10px rgb(0, 71, 89);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: rgba(198, 222, 253, 0.4862745098);
}
.video-section__icon--instagram:hover {
  fill: #E4405F;
  -webkit-box-shadow: 0px 5px 10px rgb(0, 71, 89);
          box-shadow: 0px 5px 10px rgb(0, 71, 89);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: rgba(252, 166, 182, 0.4941176471);
}
.video-section__icon--email:hover {
  fill: #2b2b2b;
  -webkit-box-shadow: 0px 5px 10px rgb(0, 71, 89);
          box-shadow: 0px 5px 10px rgb(0, 71, 89);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: rgba(194, 192, 192, 0.493);
}

.about-us {
  display: grid;
  justify-items: center;
  grid-auto-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "svg svg" "text text";
  padding: 2rem 0;
}
@media (min-width: 48em) {
  .about-us {
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "text svg" "text svg";
  }
}
.about-us__header {
  display: grid;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
  grid-area: text;
}
.about-us__image-svg {
  grid-area: svg;
  width: clamp(10em, 22vw, 20em);
  -webkit-animation: logo-JDPROFF 12s ease-in-out infinite;
          animation: logo-JDPROFF 12s ease-in-out infinite;
}

.slider-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background: #f3f3f3;
  overflow-y: hidden;
}
.slider-gallery--overflow-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  width: var(--width-container);
}
.slider-gallery__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  padding: 1.375rem 0;
  -webkit-animation: scrolling var(--animation-duration) linear infinite;
          animation: scrolling var(--animation-duration) linear infinite;
}
@-webkit-keyframes scrolling {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-1 * var(--elements-width) * var(--all-elements)));
            transform: translateX(calc(-1 * var(--elements-width) * var(--all-elements)));
  }
}
@keyframes scrolling {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-1 * var(--elements-width) * var(--all-elements)));
            transform: translateX(calc(-1 * var(--elements-width) * var(--all-elements)));
  }
}
.slider-gallery__figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 14.0625rem;
  width: var(--elements-width);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: -webkit-transform 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: transform 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: transform 0.2s cubic-bezier(0.39, 0.575, 0.565, 1), -webkit-transform 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
  cursor: pointer;
}
.slider-gallery__figure:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.slider-gallery__photo {
  -o-object-fit: cover;
     object-fit: cover;
  width: clamp(13.75rem, 25vw, 18.125rem);
}
.slider-gallery__btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transform: translate(-100%, -25%);
          transform: translate(-100%, -25%);
  color: #004759;
  font-size: clamp(0.655rem, 0.8vw, 0.9rem);
  padding: 0.5rem;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.slider-gallery__btn::after, .slider-gallery__btn::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 1px solid #009581;
}
.slider-gallery__btn:hover {
  color: #009581;
}
.slider-gallery__btn::before, .slider-gallery__btn::after {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.slider-gallery__btn:hover::before {
  -webkit-transform: translate(-3%, -10%);
          transform: translate(-3%, -10%);
}
.slider-gallery__btn:hover::after {
  -webkit-transform: translate(3%, 10%);
          transform: translate(3%, 10%);
}

.why-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5rem;
  max-width: 78.75em;
  margin: 0 auto;
  overflow: hidden;
}
.why-us__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  grid-template-rows: repeat(auto-fit, minmax(200px, auto));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 0.625rem;
  padding: 2rem;
  background-color: #cbf5ef;
}
@media (min-width: 62em) {
  .why-us__container {
    margin: 3rem;
  }
}
.why-us__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0;
  grid-column: 1;
}
@media (min-width: 48em) {
  .why-us__header--grid-col-2 {
    grid-column: 2;
  }
  .why-us__header--grid-col-3 {
    grid-column: 3;
  }
}
.why-us__jpg {
  text-align: center;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: opacity 0.5s ease-in-out, -webkit-transform 1.5s ease-in-out;
  transition: opacity 0.5s ease-in-out, -webkit-transform 1.5s ease-in-out;
  transition: opacity 0.5s ease-in-out, transform 1.5s ease-in-out;
  transition: opacity 0.5s ease-in-out, transform 1.5s ease-in-out, -webkit-transform 1.5s ease-in-out;
  opacity: 0;
}
.why-us__jpg > img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: -webkit-transform 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: transform 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: transform 0.2s cubic-bezier(0.39, 0.575, 0.565, 1), -webkit-transform 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.why-us__jpg > img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
@media (min-width: 48em) {
  .why-us__jpg--second {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .why-us__jpg--fourth {
    -webkit-transform: translate3d(300px, 0px, 0px);
            transform: translate3d(300px, 0px, 0px);
  }
  .why-us__jpg--fifth {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  .why-us__jpg--eighth {
    -webkit-transform: translate3d(0px, 20%, 0px);
            transform: translate3d(0px, 20%, 0px);
  }
  .why-us__jpg--first, .why-us__jpg--ninth {
    -webkit-transform: translate3d(-300px, 0px, 0px);
            transform: translate3d(-300px, 0px, 0px);
  }
  .why-us__jpg--first, .why-us__jpg--third, .why-us__jpg--sixth {
    grid-column: 1;
  }
  .why-us__jpg--sixth {
    grid-column: 2;
  }
  .why-us__jpg--first, .why-us__jpg--third, .why-us__jpg--seventh, .why-us__jpg--eighth {
    grid-row: 2;
  }
  .why-us__jpg--fifth, .why-us__jpg--ninth {
    grid-row: 1;
  }
  .why-us__jpg--fifth, .why-us__jpg--eighth, .why-us__jpg--ninth {
    grid-column: 1;
  }
  .why-us__jpg--second {
    grid-column: 2;
  }
}
@media (min-width: 48em) and (min-width: 87.5em) {
  .why-us__jpg--second {
    -webkit-transform: translate3d(20%, -20%, 0);
            transform: translate3d(20%, -20%, 0);
    grid-column: 2/span 2;
  }
}
@media (min-width: 48em) {
  .why-us__jpg--seventh {
    grid-column: 3;
    justify-self: end;
  }
}

.fade {
  opacity: 1;
}

.fade-right {
  opacity: 1;
  -webkit-transform: translate3d(0%, 0, 0);
          transform: translate3d(0%, 0, 0);
}

.fade-left {
  opacity: 1;
  -webkit-transform: translate3d(0%, 0, 0);
          transform: translate3d(0%, 0, 0);
}

.fade-bottom {
  opacity: 1;
  -webkit-transform: translate3d(0, -25%, 0);
          transform: translate3d(0, -25%, 0);
}

.fade-bounce-in {
  -webkit-transition: opacity 0.5s ease-in-out, -webkit-transform 0.5s cubic-bezier(0.32, 0.98, 0.3, 1.25);
  transition: opacity 0.5s ease-in-out, -webkit-transform 0.5s cubic-bezier(0.32, 0.98, 0.3, 1.25);
  transition: opacity 0.5s ease-in-out, transform 0.5s cubic-bezier(0.32, 0.98, 0.3, 1.25);
  transition: opacity 0.5s ease-in-out, transform 0.5s cubic-bezier(0.32, 0.98, 0.3, 1.25), -webkit-transform 0.5s cubic-bezier(0.32, 0.98, 0.3, 1.25);
  opacity: 1;
  -webkit-transform: scale(1) translate3d(0, 0, 0);
          transform: scale(1) translate3d(0, 0, 0);
}

.services__cards {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  justify-items: center;
  gap: 5vw;
}
@media (min-width: 62em) {
  .services__cards {
    grid-template-rows: auto;
  }
}
.services__card {
  display: inherit;
  gap: 1rem;
  grid-column: 1;
  padding: 2rem 0.625rem;
  background-color: #72d7c9;
  border-radius: 0.625rem;
  -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 35%, 100% 90%, 65% 90%, 55% 100%, 0 100%, 0% 70%, 0% 35%, 0 0);
          clip-path: polygon(0% 0%, 100% 0, 100% 35%, 100% 90%, 65% 90%, 55% 100%, 0 100%, 0% 70%, 0% 35%, 0 0);
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  max-width: 70vw;
  width: 100%;
  height: 100%;
  background-image: url(/src/img/photo/inne/jdproff_logo\ \(5\).webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
@media (min-width: 62em) {
  .services__card {
    grid-column: auto;
    margin: 2.5rem 0;
    padding: 2rem;
  }
}
.services__card:hover {
  background-color: #f3f3f3;
}
.services .svg-icon {
  -ms-flex-item-align: end;
      align-self: end;
}

.svg-icon > path {
  fill: #e3e3e3;
  stroke: transparent;
}

.steps {
  margin: 0 auto;
}
.steps__timeline {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
  gap: 5.625rem 0;
  position: relative;
}
.steps__timeline::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 50%;
  bottom: 0px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 4px;
  background-color: #f3f3f3;
  z-index: 1;
}
@media (min-width: 48em) {
  .steps__timeline {
    gap: 11.25rem 0;
  }
}
.steps__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
  z-index: 2;
}
.steps__heading:nth-of-type(1) {
  grid-area: 1/2;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.steps__heading:nth-of-type(2) {
  grid-area: 2/2;
}
.steps__heading:nth-of-type(3) {
  grid-area: 3/2;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.steps__heading:nth-of-type(4) {
  grid-area: 4/2;
}
.steps__heading:nth-last-child(1) {
  grid-area: 5/1/5/4;
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 48em) {
  .steps__heading {
    gap: 0.75rem;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .steps__heading:nth-of-type(1), .steps__heading:nth-of-type(2), .steps__heading:nth-of-type(3), .steps__heading:nth-of-type(4) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .steps__heading:nth-of-type(1) {
    grid-area: 1/1/1/3;
  }
  .steps__heading:nth-of-type(2) {
    grid-area: 2/2/2/4;
  }
  .steps__heading:nth-of-type(3) {
    grid-area: 3/1/3/3;
  }
  .steps__heading:nth-of-type(4) {
    grid-area: 4/2/4/4;
  }
}
.steps__heading--right > .steps__content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
@media (min-width: 48em) {
  .steps__heading--right > .steps__content {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin-right: 1.5625rem;
  }
}
.steps__heading--left > .steps__content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
@media (min-width: 48em) {
  .steps__heading--left > .steps__content {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 1.5625rem;
  }
}
.steps__heading--last {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.steps__heading--last > .steps__content {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5625rem;
}
.steps__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: clamp(13em, 33vw, 65em);
  padding: 2rem 1rem;
  background-color: white;
  border-radius: 5%;
  -webkit-box-shadow: 0px 3px 0px 2px #05d1b6;
          box-shadow: 0px 3px 0px 2px #05d1b6;
  -webkit-transform: scale(0.0001);
          transform: scale(0.0001);
  opacity: 0;
}
.steps__content--right {
  -webkit-transform: translate3d(-100px, 0, 0);
          transform: translate3d(-100px, 0, 0);
  -webkit-box-shadow: 3px 3px 0px 0px #05d1b6;
          box-shadow: 3px 3px 0px 0px #05d1b6;
}
.steps__content--left {
  -webkit-transform: translate3d(100px, 0, 0);
          transform: translate3d(100px, 0, 0);
  -webkit-box-shadow: -3px 3px 0px 0px #05d1b6;
          box-shadow: -3px 3px 0px 0px #05d1b6;
}
@media (min-width: 48em) {
  .steps__content--right::after {
    content: "";
    position: absolute;
    top: 1rem;
    border: solid transparent;
    border-right: solid #72d7c9;
    border-width: 0.875rem;
    right: -2.1875rem;
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
  }
  .steps__content--left::before {
    content: "";
    position: absolute;
    top: 1rem;
    border: solid transparent;
    border-right: solid #72d7c9;
    border-width: 0.875rem;
    left: -2.1875rem;
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
  .steps__content--last::after {
    content: "";
    position: absolute;
    top: 1rem;
    border: solid transparent;
    border-right: solid #72d7c9;
    border-width: 0.875rem;
    top: -1rem;
    -webkit-transform: rotateZ(90deg);
            transform: rotateZ(90deg);
  }
}
.steps__text-paragraf {
  padding: 1rem 0;
}
.steps__text-paragraf--right > a {
  font-size: inherit;
  color: inherit;
  -webkit-transition: color 0.4s cubic-bezier(0.08, 0.8, 0.53, 1.03);
  transition: color 0.4s cubic-bezier(0.08, 0.8, 0.53, 1.03);
}
.steps__text-paragraf--right > a:hover {
  color: #05d1b6;
}
@media (min-width: 48em) {
  .steps__text-paragraf--left {
    text-align: start;
  }
  .steps__text-paragraf--right {
    text-align: end;
  }
}
.steps__svg {
  text-align: center;
  height: 50px;
  width: 50px;
  background-color: #72d7c9;
  opacity: 0;
}
.steps__svg--right {
  -webkit-transform: translate3d(100px, 0, 0);
          transform: translate3d(100px, 0, 0);
}
.steps__svg--left {
  -webkit-transform: translate3d(-100px, 0, 0);
          transform: translate3d(-100px, 0, 0);
}
.steps__svg > svg {
  height: 100%;
}
.steps__svg > svg > path {
  fill: white;
}

.fade-bounce-in {
  -webkit-transition: opacity 0.5s ease-in-out, -webkit-transform 0.5s cubic-bezier(0.32, 0.98, 0.3, 1.25);
  transition: opacity 0.5s ease-in-out, -webkit-transform 0.5s cubic-bezier(0.32, 0.98, 0.3, 1.25);
  transition: opacity 0.5s ease-in-out, transform 0.5s cubic-bezier(0.32, 0.98, 0.3, 1.25);
  transition: opacity 0.5s ease-in-out, transform 0.5s cubic-bezier(0.32, 0.98, 0.3, 1.25), -webkit-transform 0.5s cubic-bezier(0.32, 0.98, 0.3, 1.25);
  opacity: 1;
  -webkit-transform: scale(1) translate3d(0, 0, 0);
          transform: scale(1) translate3d(0, 0, 0);
}

.reviews {
  display: grid;
  background-color: gold;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.reviews__title {
  background-color: skyblue;
  grid-column: 1/3;
  max-height: 15.625rem;
}
.reviews__button {
  background-color: tomato;
  height: 2.5rem;
  width: 2.5em;
  -ms-flex-item-align: center;
      align-self: center;
}
.reviews__button--left {
  grid-area: 1/4;
}
.reviews__button--right {
  grid-area: 1/5;
}
.reviews__button > img {
  max-width: 100%;
  max-height: 100%;
}
.reviews__container {
  background-color: greenyellow;
  grid-area: 2;
}
.main {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(8, auto);
  gap: 4.6875rem;
}
@media (min-width: 62em) {
  .main {
    gap: 9.375rem;
  }
}

.footer {
  background-color: skyblue;
}/*# sourceMappingURL=style.css.map */