//section - top -about Us.
@use '../abstracts' as *;
@use '../utils' as *;

.about-us{
    display: grid;
    justify-items: center;
    grid-auto-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr ;
    grid-template-areas:
        "text svg"
        "text svg";
    padding:2rem 0;
    &__header{
    display: grid;
    align-content: space-evenly;
    grid-area: text;
    }
    &__image-svg{
    grid-area: svg;
    height: 100%;
    width: clamp(10em, 22vw, 20em);
    animation: logo-JDPROFF 12s ease-in-out infinite;
    }
}