//section - top -about Us.
@use '../abstracts' as *;
@use '../utils' as *;

.about-us{
    display: grid;
    justify-items: center;
    grid-template-areas:
        "svg"
        "text";
    padding:2rem 0;
    @include breakpoint-min(md){
        grid-auto-columns: 1fr 0.5fr;
        grid-template-areas:
        "text svg"
        "text svg";
    }
    &__header{
        display: grid;
        align-content: space-evenly;
        grid-area: text;
    }
    &__image-svg{
        grid-area: svg;
        width: clamp(10em, 22vw, 20em);
        animation: logo-JDPROFF 8s ease-in-out infinite;
    }
}