@use '../utils/functions'as *;
@use '../abstracts' as *;

.services {
    &__cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3%;
        width: clamp(em(300), 80vw,em(1800));
        margin: auto;
        padding: rem(16);
        @include breakpoint-min(lg){
            flex-direction: row;
            align-items: stretch;
        }
    }
    &__card {
        display: inherit;
        flex-direction: column;
        gap: rem(24);
        width: clamp(em(200), 82.5vw, em(550));
        margin: rem(16) 0;
        padding: rem(32) rem(10);
        background-color: $color-sea-glass;
        border-radius: rem(10);
        clip-path: $clip-path;
        transition: background-color .2s ease-in-out;
        background-image: url("../img/photo/inne/jdproff-logo-black-white.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        &:hover{
        background-color: $bgc-light-grey;
        }
         &:nth-of-type(2n),&:nth-of-type(3n){
           gap:rem(48);
           @include breakpoint-min(lg){
             gap: 0;
            justify-content: space-between;
           }
        }
    }
        @include breakpoint-min(lg){
            padding: rem(32);
        }
}
.svg-icon>path{
    fill: #e3e3e3;
    stroke: transparent;
}
