//slider gallery
@use '../abstracts' as *;
@use '../utils' as *;


.slider-gallery{
    display: flex;
    justify-content: center;
    width: 100%;
    background: $bgc-light-grey;
    overflow-y: hidden;

    &--overflow-center{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: var(--width-container);
    }
    &__container{
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 0;
    width: 100%;
    padding: rem(22) 0;
    animation: scrolling var(--animation-duration) linear infinite;
        @keyframes scrolling {
            0% { transform: translateX(0); }
            100% { transform: translateX(calc(-1 * var(--elements-width) * var(--all-elements))); }
        }
    }
    &__figure{
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    height: rem(225);
    width:var(--elements-width);
    transition: $scale-transform;
    cursor: pointer;
        &:hover{
            transform: $scale;
        }
}
    &__photo{
    object-fit: cover;
    width: clamp(rem(220), 25vw , rem(290));
    }
}
