@use '../utils/functions'as *;
@use '../abstracts' as *;

.why-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(80);
    max-width: em(1260);
    margin: 0 auto;
    overflow: hidden;
    &__container{
        display: grid;
        grid-template-columns: repeat( auto-fit , minmax(220px, auto));
        grid-template-rows: repeat(auto-fit, minmax(200px, auto));
        justify-content: center;
        align-content: center;
        gap: rem(10);
        padding: rem(32);
        background-color:$color-fake-jade;
            @include breakpoint-min(lg){
            margin: rem(48);
            }
    }
    
    &__header{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: rem(32) 0;
        grid-column: 1;
            @include breakpoint-min(md){
                &--grid-col-2{
                grid-column: 2;        
                }
                &--grid-col-3{
                grid-column: 3;        
                }
            }
    }
   
    &__jpg{
        text-align: center;
        object-fit: cover;
        transition:opacity .5s ease-in-out, transform 1.5s ease-in-out;
        opacity: 0;
        
        &>img {
       max-width: 100%;
       height: auto;
       cursor: pointer;
       transition: $scale-transform;
       &:hover{
           transform: $scale;
       }
        }
        @include breakpoint-min(md){
            &--second{
                transform: translate3d(0,0,0);
            }
            &--fourth{
                transform: translate3d(300px, 0px, 0px);
            }
            &--fifth{
                transform: translate3d(0,-100%,0);
            }
            &--eighth{
                transform: translate3d(0px, 20%, 0px);
            }

            &--first,&--ninth{
                @include transform3d-X-for-left;
            }

            &--first,&--third,&--sixth{
                @include grid-column-1;
            }
            &--sixth{
                grid-column: 2;
            }
            &--first,&--third,&--seventh,&--eighth{
                @include grid-row-2;
            }
            &--fifth,&--ninth{
                @include grid-row-1;
            }
            &--fifth,&--eighth,&--ninth{
                @include grid-column-1;
            }

            &--second{
            grid-column: 2;
                @include breakpoint-min(xxl){
                transform: translate3d(20%,-20%,0);
                grid-column: 2/span 2;
                }
            }    
            &--seventh{
            grid-column: 3;
            justify-self: end;
            }
        }
    }
}
@include fades;