@use '../utils/functions'as *;
@use '../abstracts' as *;

.why-us{
    display: flex;
    flex-direction: column;
    align-items: center;
     gap: rem(80);
    &__container{
        position: relative;
        height: rem(640);
        max-width: em(1000);
        margin: rem(48) 0;
        padding: rem(32);
        background-color:$color-fake-jade;
    }
    &__header{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
    }
    &__jpg{
        position: absolute;
        object-fit: cover;
        transition:opacity .5s ease-in-out, transform 1.5s ease-in-out;
        opacity: 0;


         &--first{
          top: rem(280);
          left: rem(-160);
          z-index: 1;
        }
        &--second{
         top: rem(-80);
        right: rem(-80);
        }    
        &--third{
        bottom: rem(-80);
        }
        &--fourth{
        top: rem(40);
        right: rem(-360);
        }
        &--fifth{
            top: rem(-10);
        }
        &--sixth{
        bottom: rem(40);
        right: rem(-100);
        }
        &--seventh{
        top: rem(200);
        right: rem(250);
        z-index: 1;
        }
        &--eighth{
        bottom:rem(-120);
        left: rem(-380);
        }
        &--ninth{
        top: rem(-60);
        right: rem(-420);
        }
    }
   
}

@include fades;