
@use '../utils/functions'as *;
@use '../abstracts/'as *;

//MD - media query - 768px.

.header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: $color-white;
    box-shadow: 0 3px 20px $bgc-shadow;
    border-bottom: 1px solid $border-line-bottom;
    z-index: 99;
    @include breakpoint-min(md){
           flex-direction: row;
        }
    @include breakpoint-min(lg){
        flex-wrap: nowrap;
        }
    &__blurBg{
        position: fixed;
        background-color: hsla(0,0%,7%,.36);;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(3px);
        opacity: 0;
        visibility: hidden;
        transition:opacity .3s ease-in-out, visibility .3s ease-in-out;
        z-index: 1;
        &.--open{
            opacity: 1;
            visibility: inherit;
        }
        @include breakpoint-min(md){
            display: none;
        }
    }
    &__arrow{
        transform: rotate(90deg);
        margin-left: rem(5);
        @include breakpoint-min(md){
            &{
            transform: rotate(0deg);
            }
        }
    }
    &__title{
    white-space: nowrap;
    cursor: pointer;
    &>a{
        color: $color-black;
        font-size: clamp(rem(18), 3.5vw, rem(38));
    }

     @include breakpoint-max(md){
           display: none;
        }
    }
     &__logo{
        display: flex;
        align-items: center;
        padding: rem(10);
    }
    &__img {
        width: em(65);
        @include breakpoint-min(md){
            display: none;
        }
    }
    
    &__navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 100%;
        max-width: em(2560);
        padding:$padding;
        @include breakpoint-min(lg){
           flex-direction: row;
           justify-content: space-between;
        }
    }
    &__items {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: rem(20);
        position: absolute;
        inset: rem(78) 0 0 0;
        background-color: $color-white;
        height: 100vh;
        transform: translateX(-100%);
        transition: transform .5s ease-in-out;
         @include breakpoint-min(md){
           flex-direction: row;
           justify-content: flex-end;
           inset: 0 0 0 0;
           position: static;
           height: auto;
           transform: translateX(0);
        }
        @include breakpoint-min-max-or(md, lg, landscape){
            gap: 0;
}
    }

    &__items.open {
        transition: transform .5s ease-in-out;
        transform: translateX(0);
    }
    &__list {
        padding: rem(10) rem(10);
        margin: rem(10) rem(15);
        text-align: center;
        white-space: nowrap;
        cursor: pointer;
         &:nth-child(5){
            border: rem(1) solid $bgc-button;
            border-radius: rem(8);
            transition: border-radius .2s ease-in-out;
            &:hover{
            border-radius: rem(20);
            }
        }
         @include breakpoint-landscape(landscape){
              padding: rem(5) rem(10);
            }
    }
    &__item{
        padding:rem(8) ;
        color: $color-black;
        transition: color .2s ease-in-out;
        &--arrow{
            display: flex;
            justify-content: center;
            flex-wrap: nowrap;
        }
    }
    &__list:hover>&__item{
        color: $color-semiBlack;  
    }

    &__dropdown{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: clamp(rem(180), 55%, rem(300));
        padding: rem(5) rem(10);
        transform: translateX(-100%);
        background-color:$color-white;
        visibility: hidden;
        transition:transform .3s ease-in-out, visibility .3s ease-in-out;
        z-index: 5;
        &--closed{
            box-sizing: content-box;
            align-self: flex-end;
            width: rem(24);
            padding: rem(8);
            transition: transform .2s ease-in-out;
            svg{
            transition: color .2s ease-in-out;
            height: 100%;
            width: 100%;
            }
            &:hover{
            transform: scale(1.2);
            }
            &:hover>svg{
            color:$color-stroke-svg;
            }
            svg>path{
                transform: translateX(15%);
            }
        }
        &.--Mobile{
            gap: rem(22);
            padding-left: rem(5); 
            background-image: $linear-gradient-subMenu;
            transform: translateX(0);
            visibility: inherit;
            inset: 0.02px; //for backdrop-filter, because he has bug in the chrome.
            @include breakpoint-landscape(landscape){
                gap: rem(10);
            }
        }
        @include breakpoint-min(md){
            top: 100%;
            left: auto;
            height: auto;
             width: auto;
            transform: translateX(0);
            box-shadow:0px 2px 0px $color-box-shadow;
            border-radius:0 0 rem(10) rem(10);
            opacity: 0;
            visibility: hidden;
            transition:opacity .3s ease-in-out, visibility .3s ease-in-out;
            .header__list--dropdown:hover>&{
                opacity:1;
                visibility:visible;
            }
            &--closed{
                display: none;
            }           
        }
    }
    &__dp_item{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        border-bottom: 1px solid $border;
        &:nth-last-child(1){
            border: none;
        }
        &:hover>.header__item{
            color: $color-semiBlack;
        }
        
    }
}