@use '../components/buttons';
@use '../utils/functions'as *;
@use '../abstracts' as *;

.header {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $bgc-header;
    box-shadow: 0 3px 20px $bgc-shadow;

        @include breakpoint-min(md){
            max-height: 8vh;
           flex-direction: row;
        }
    &__title{
    font-size: rem(40);
    width: clamp(5em,5vw,15em);
     @include breakpoint-max(md){
           display: none;
        }
    }
       
    &__navigation {
        width: 100%;
    }

    &__img {
        height: rem(50);
        width: rem(50);

        @include breakpoint-min(md){
            display: none;
        }
    }

    &__items {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        transform: translateX(-100%);
        transition: transform .5s ease-in-out;

         @include breakpoint-min(md){
           flex-direction: row;
           justify-content: flex-end;

           height: 100%;
           transform: translateX(0);
        }
    }

    &__items.open {
        transition: transform .5s ease-in-out;
        transform: translateX(0);
    }

    &__list {
        padding: rem(10) rem(10);
        margin: rem(10) rem(15);
        text-align: center;
        cursor: pointer;
        
    }

    &__item{
    color: $bgc-dark;
    text-transform: uppercase;
    transition: color .2s ease-in-out;
    }
    &__list:hover>&__item{
        color: $color-hover-social;
    }
    &__logo{
        display: flex;
        margin: rem(10);
        align-items: center;
    }
    &__dropdown{
        border: 1px solid black;
        padding: rem(5) rem(10);
    }
    &__dp_item{
        text-align: start;
    }
}