@use '../utils/functions'as *;
@use '../abstracts' as *;
@use '../components' as *;


.main{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(8,auto);
    gap: rem(32);
}




